<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="SEMINAR"/>
<stringAttribute key="TALEND_JOB_ID" value="_9cjLsAMTEemHDv8FeWLZoA"/>
<stringAttribute key="TALEND_JOB_NAME" value="tab_files"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
